<div th:replace="compartilhado/top"></div>
	
	<div class="container-fluid">
	
	    <!-- Cabeçalho -->
	    <h1 class="h3 mb-2 text-gray-800">Cliente</h1>
	    <p class="mb-4">
			Cadastrar, consultar, alterar e excluir um cliente
		</p>
	
	    <div class="card shadow mb-4">
	        <div class="card-header py-3">
	            
				<div class="input-group">
					<!--Botão de novo-->
					<a href="/clientes/novo" class="btn btn-success border border-dark">Novo</a>
                    
					<!--Pesquisas sem implementar ainda-->
                    <div class="input-group-append" style="margin-left:425px;">
						<input type="text" style="margin-left:5px;" class="form-control bg-light border-0 small" placeholder="Código" aria-label="Search" aria-describedby="basic-addon2">
						<input type="text" style="margin-left:5px;" class="form-control bg-light border-0 small" placeholder="Cliente" aria-label="Search" aria-describedby="basic-addon2">
						<input type="text" style="margin-left:5px;" class="form-control bg-light border-0 small" placeholder="CPF" aria-label="Search" aria-describedby="basic-addon2">
						<button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
	        </div>
	        <div class="card-body">
	            <div class="table-responsive">
	                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	                    <thead>
	                        <tr>
	                            <th>Código</th>
	                            <th>Nome</th>
	                            <th>CPF</th>
	                            <th></th>
	                            <th></th>
	                        </tr>
	                    </thead>
	                    <tfoot>
	                        <tr>
								<th>Código</th>
	                            <th>Nome</th>
	                            <th>CPF</th>
	                            <th></th>
	                            <th></th>
	                        </tr>
	                    </tfoot>
	                    <tbody>
	                        <tr th:each="cliente : ${clientes}">
	                            <td th:text="${cliente.cod_cliente}"></td>
	                            <td th:text="${cliente.nome}"></td>
	                            <td th:text="${cliente.cpf}"></td>
	                            <td><a 
									  th:href="@{/clientes/{id}(id=${cliente.cod_cliente})}"
									  class="btn btn-warning border border-dark"
									>
									  Alterar
									</a>
								</td>
								<td><a
									  th:href="@{/clientes/{id}(id=${cliente.cod_cliente})} + '/excluir'"
									  class="btn btn-danger border border-dark"
									  th:data-confirm-delete="|Atenção, deseja realmente excluir o cliente ${cliente.cpf} - ${cliente.nome}?|"
									  onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
									>
		  							  Excluir
		  							</a>
								</td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	    </div>
	
	</div>
	<!-- /.container-fluid -->
<div th:replace="compartilhado/baixo"></div>