<div th:replace="compartilhado/top"></div>
	<!-- Begin Page Content -->
	<div class="container-fluid">
	
	    <!-- Page Heading -->
	    <h1 class="h3 mb-2 text-gray-800">Clientes</h1>
	    <p class="mb-4">
			Cadastrar, consultar, alterar e excluir um cliente
		</p>
	
	    <!-- DataTales Example -->
	    <div class="card shadow mb-4">
	        <div class="card-header py-3">
	            <h6 class="m-0 font-weight-bold text-primary">Cliente</h6>
	        </div>
	        <div class="card-body">
	            <div class="table-responsive">
	                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	                    <thead>
	                        <tr>
	                            <th>Código</th>
	                            <th>Nome</th>
	                            <th>CPF</th>
	                            <th></th>
	                            <th></th>
	                        </tr>
	                    </thead>
	                    <tfoot>
	                        <tr>
								<th>Código</th>
	                            <th>Nome</th>
	                            <th>CPF</th>
	                            <th></th>
	                            <th></th>
	                        </tr>
	                    </tfoot>
	                    <tbody>
	                        <tr>
	                            <td>0001</td>
	                            <td>Valter Fabricio dos Santos</td>
	                            <td>6303350526</td>
	                            <td><a href="#" class="btn btn-warning">Alterar</td>
	                            <td><a href="#" class="btn btn-danger">Excluir</td>
	                        </tr>
							<tr>
	                        	<td>0002</td>
	                            <td>Eliel Junior</td>
	                            <td>99999999999</td>
	                            <td><a href="#" class="btn btn-warning">Alterar</td>
	                            <td><a href="#" class="btn btn-danger">Excluir</td>
	                       	</tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	    </div>
	
	</div>
	<!-- /.container-fluid -->
<div th:replace="compartilhado/baixo"></div>