<div th:replace="compartilhado/top"></div>
	<!-- Begin Page Content -->
	<div class="container-fluid">
	
	    <!-- Page Heading -->
	    <h1 class="h3 mb-2 text-gray-800">Novo Cliente</h1>
	    <p class="mb-4">
			Dados do Cliente
		</p>
	
	    <!-- Formulário Cadastro de Cientes -->
	    <div class="card shadow mb-4">
			<div class="card-body">
				<form method="POST" action="/clientes/criar">
					<div class="form-row">
				    	<div class="form-group col-md-2">
				      		<label for="cod_cliente">Código:</label>
				      		<input type="text" class="form-control" id="cod_cliente" value="Código" readonly>
				    	</div>
				    	<div class="form-group col-md-5">
				      		<label for="nome">Nome:*</label>
				      		<input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" required>
				    	</div>
						<div class="form-group col-md-5">
				      		<label for="cpf">CPF:*</label>
				      		<input type="number_format" pattern="(\d{3}\.?\d{3}\.?\d{3}-?\d{2})"\
								class="form-control" id="cpf" name="cpf" placeholder="xxx.xxx.xxx-xx" required>
				    	</div>
				  	</div>
					<div class="form-row">
						<div class="form-group col-md-7">
				      		<label for="rg">RG:*</label>
				      		<input type="number_format" pattern="(\d{1}\.?\d{3}\.?\d{3}-?\d{1})"\
								class="form-control" id="rg" name="rg" placeholder="x.xxx.xxx-x" required>
				    	</div>
						<div class="form-group col-md-5">
				      		<label for="data_nasc">Nascimento:</label>
				      		<input type="date" class="form-control" id="data_nasc" name="data_nasc">
				    	</div>
				  	</div>
					<div class="form-row">
						<div class="form-group col-md-7">
					    	<label for="endereco">Endereço:*</label>
					    	<input type="text" class="form-control" id="endereco" name="endereco" placeholder="Rua dos Bobos, nº 0" required>
					  	</div>
						<div class="form-group col-md-5">
					    	<label for="complemento">Complemento:</label>
					    	<input type="text" class="form-control" id="complemento" name="complemento" placeholder="Próximo à...">
					  	</div>
					</div>
				  	
				  	<div class="form-row">
						<div class="form-group col-md-4">
				      		<label for="bairro">Bairro:*</label>
				      		<input type="text" class="form-control" id="bairro" name="bairro" placeholder="Centro" required>
				    	</div>
						<div class="form-group col-md-3">
				      		<label for="cep">CEP:</label>
				      		<input type="number_format" pattern="(\d{5}-?\d{3})"\
								class="form-control" id="cep" name="cep" placeholder="xxxxx-xxx">
				    	</div>
				    	<div class="form-group col-md-3">
				      		<label for="cidade">Cidade:*</label>
				      		<input type="text" class="form-control" id="cidade" name="cidade" placeholder="Aracaju" required>
				    	</div>
				    	<div class="form-group col-md-2">
				      		<label for="uf">UF:*</label>
				      		<input type="text" id="uf" name="uf" class="form-control" minlength="2" maxlength="2" placeholder="SE" required>
				    	</div>
				  	</div>
					<div class="form-row">
						<div class="form-group col-md-3">
					    	<label for="telefone">Telefone:</label>
							<input type="number_format" pattern="(\(?\d{2}\)?\d{4}-?\d{4})"\
								class="form-control" id="telefone" name="telefone" placeholder="(XX)XXXX-XXXX">
					  	</div>
						<div class="form-group col-md-3">
					    	<label for="celular">Celular:*</label>
					    	<input type="number_format" pattern="(\(?\d{2}\)? ?\d{5}-?\d{4})" class="form-control" id="celular" name="celular" placeholder="(XX)XXXXX-XXXX" required>
					  	</div>
					</div>
				  	<div class="form-group">
						<div class="form-group col-md-12">
				      		<label for="obs">Observação:</label>
				      		<textarea class="form-control" id="obs" name="obs"></textarea>
				    	</div>
				  	</div>
				  	<button type="submit" class="btn btn-primary border border-dark">Cadastrar</button>
					<a href="/clientes" type="submit" class="btn btn-danger border border-dark">Fechar</a>
				</form>
			</div>
	    </div>
	</div>
	<!-- /.container-fluid -->
<div th:replace="compartilhado/baixo"></div>